.webchat__bubble__content{
    background-color: rgb(95, 21, 124)!important;
    border-radius: 20px !important;
   
}
.css-o3xlyv{
    font-family: monospace !important;
    color: rgb(255, 255, 255);
}