.home-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.home-sidebar{
    width: 30%;
    height: 100%;
}
.home-main{
    height: 100%;
    width: 70%;
}
.geral-format{
    background-color: rgb(188, 92, 226)!important;
}
.mensagens-format{
    overflow-y: scroll;
    height: 31rem;
    width: 62rem;
    
}

.format-img-pedido{
    height: 16rem;
    width: 30rem;
}
.format-btn-inserir-nome{
	width: 190px;
	height: 50px;
    background-color: rgb(3, 75, 3);
	border-radius: 10px;
	margin: 10px;
	color: aliceblue;
}
.format-input-inserir-nome{
	width: 600px !important;
	margin: 10, 10,10,10 !important;
	
}
